.App{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    height: 100vh;
}
.App p{
    font-weight: 100;
    margin-top: 10px;
    color: #2a9d8f;
}


.App .container-game{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    background-color: #264653;
    width: 500px;
    border-radius: 16px;
    padding: 130px 0;
    gap: 10px;
}

.App .player-containerX{
    margin-bottom: 10px;
    color: #2a9d8f;
}

.App .player-containerO{
    margin-bottom: 10px;
    color: #e9c46a;
}

.App .player-containerX svg, .App .player-containerO svg{
    width:50px;
    height:50px;
}




.App .container-game .board{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #003049;
    height: 100%;
    width: 100%;
    font-size: 38px;
    border-radius: 12px;
    cursor: pointer;
    
}

.App .container-game .board:hover{
    box-shadow: 2px 3px 12px #1b3742;
}

.App .container-game .boardX{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #003049;
    height: 100%;
    width: 100%;
    font-size: 38px;
    border-radius: 12px;
    color: #2a9d8f;
    font-weight: 900;
}


.App .container-game .boardO{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #003049;
    height: 100%;
    width: 100%;
    font-size: 38px;
    border-radius: 12px;
    color: #e9c46a;
}


.App  .winner-container{
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: #1b3742;
    width: 100%;
    position: absolute;
    color: #e9c46a;
    padding: 60px 0;
    box-shadow: 100px 100px 200px #000000;
}

.App  .winner-container h2{
    font-size: 50px;
    margin: 40px;
}


.App  .winner-container button{
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 24px;
    font-weight: 900;
    color: #1b3742;
    background-color: #e9c46a;
    cursor: pointer;
    transition: 0.5s;
}



.App  .winner-container button:hover{
    height: 50px;
    border: 3px solid #e9c46a;
    border-radius: 25px;
    font-weight: 900;
    color: #e9c46a;
    background-color: #264653;
    cursor: pointer;
    transition: 0.5s;
}